.blog-admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  border: 2px solid var(--skin-color);
}

.blog-admin-container .blog-admin-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.blog-admin-container .category-admin-form,
.blog-admin-container .blogData-admin-form, 
.blog-admin-container .blogImage-admin-form{
  border: 1px solid #ccc;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.blog-admin-container .vertical-gap{
    height: 40px;
}

.blog-admin-container .editor-container{
    width: 80%;
}
